.tab-group-block {
  padding: 10px;
}
.mat-radio-button {
  margin-left: 10px;
}
.event-block {
  padding: 10px;
}
.mat-form-field {
  padding: 10px;
}
.step-button {
  width: 100%;
}
.event-button {
  margin: 20px 0 0 0;
  width: 100%;
}
